layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: A fast, simple & powerful blog framework
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Blazing Fast
      p.intro-feature-desc Node.js brings you incredible generating speed. Hundreds of files take only seconds to build.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Markdown Support
      p.intro-feature-desc All features of GitHub Flavored Markdown are supported. You can even use most Octopress plugins in Hexo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title One-Command Deployment
      p.intro-feature-desc You only need one command to deploy your site to GitHub Pages, Heroku or other sites.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Various Plugins
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.
      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $.ajax({
    type: 'POST',
    url: 'https://www.flex.io/api/v1/pipes/flexio-mysql-items-sample/run?stream=0',
    data: $('form').serialize(),
    dataType: 'json',
    success: function(content) {
      var row_idx = 0
      var thead = ''
      var tbody = ''

      // create a very basic table building up the markup from the JSON
      $.each(content, function(idx, row) {
        if (row_idx == 0)
        {
          thead += '<tr>'
          $.each(row, function(key, val) { thead += '<th style="border: 1px solid #ddd; white-space: nowrap">'+key+'</th>' })
          thead += '</tr>'
        }

        tbody += '<tr>'
        $.each(row, function(key, val) { tbody += '<td style="border: 1px solid #ddd; white-space: nowrap">'+val+'</td>' })
        tbody += '</tr>'

        row_idx++
      })

      // append the table to the homepage's content area
      var table = '<div style="border: 1px solid #ddd; overflow: scroll"><table><thead>'+thead+'</thead><tbody>'+tbody+'</tbody></table></div>'
      $('#intro-feature-list').after(table)
    }
  })
</script>
